*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body{
	background-color: #ede8df;
}

#unique{
	font-family: Hatton;
	color:white;
	margin-right: 80%;
	font-size: 2.0rem;
}

nav{
	padding:0.8rem;
	text-decoration: none;
	background-color: #9b521d;
}

nav a{
	text-decoration: none;
	margin-top: 4rem;
	margin-bottom: 4rem;
	color:white;
}

section {
	text-align: center;
}

.navlink{
	padding-left: 0.8rem;
}

#hello{
 	width: 600px;
	 height:200px;
	 padding: 80px;
	 border:2px solid #9b521d;
	 margin-top: 80px;
	 margin-bottom: 10px;
	 position: relative;
	 left: 475px;
	 font-size: 4rem;
	 border-radius: 25px;
	 color: #9b521d;

}

section p{
	text-align: center;
	margin-bottom: 0.5rem;
}

#submitbutton{
	height:2rem;
	width: 8rem;
	background-color: #545454;
	color:#ede8df;
	border-radius: 2rem;
}



